.Name{
	font-size:30px;
	color: black;
	padding-top: 40px;
}
.category{
	position:relative;
	width:100%;
	height:50px;
	margin-top: 3%;
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;
}
#c1{
	width:24.8%;
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
#c2{
    width:24.8%;
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
#c3{
    width:24.8%;
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
#c4{
    width:24.8%;
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
#wrap{
	height: 100vh;
}
.mainbody{
	position: relative;
	background-color: #ffffc5;
	height: 500px;
	margin-bottom: 50px;
}
footer{
	width: 100%; 
	height: 50px; /* footer¿« ≥Ù¿Ã */ 
	position: absolute;
	bottom: 0px; 
	background-color: #808080;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Table{
	padding-top: 40px;
}
.logform{
	padding-top: 90px;
}
.joinform{
	padding-top: 90px;
}		