a{
	color: black;
	text-decoration: none;
}
.Name{
	font-size: 40px;
}
.logmenu{
	float:right;
}
.category{
	margin-left: 0;
	width:100%;
	height:50px;
	margin-top: 3%;
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;
}
#c1{
	width:24.5%;
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
#c2{
    width:24.5%;
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
#c3{
    width:24.5%;
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
#c4{
    width:24.5%;
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: center;
}
#wrap{
	height: 100%;
}
.mainbody{
	position: relative;
	height: 750px;
	margin: auto;
	background-color: #ffffc5;
}
footer{
	width: 100%;
	height: 40px; /* footer의 높이 */ 
	position: absolute;
	bottom: 0; 
	background-color: #808080;
    color: white;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
}